body {
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.form-control{
    max-width: 450px;
    margin: 0 auto;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.weather-info {
    display: grid;
    grid-template-rows: repeat(2, minmax(200px, auto));
}
.weather-forecast {
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto));
}
.card {
    max-width: 400px;
    margin: 5px 10px;
}
.icon-weather {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}
.current-time {
    position: relative;
    top: auto;
    left: auto;
}
