body {
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.form-control{
    max-width: 450px;
    margin: 0 auto;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    max-width: 400px;
    margin: 0 5px;
}
.icon-weather {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}
/* .time-weather {
    position: absolute;
} */
.current-time {
    position: relative;
    top: auto;
    left: auto;
}
